.jumbotron {
	background-color: #644a8d;
	min-height: 100vh;
	color: white;
	margin-bottom: 0;
}

.jumbotron h2 {
	text-align: center;

}

.logo {
	margin-bottom: 30px;
}

.jumbotron .powered-by {
	font-size: 12px;
}

.powered-by {
	position: absolute;
	top: 0;
	right: 1%;
}

#power {
	position: relative;
	top: 5px;
}

#reddit-logo {
	height: 27px;
	width: 60px;
}

.more-content {
	background-color: #ffc107;
	color: white;
	border: 0;

}

.more-row {
	text-align: center;
	position: absolute;
	bottom: 10px;
}


